@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@700&display=swap');

/* variables */
html {
    --color-negro: #07020D;
    --color-base: #F1E9DB;
    --color-acento: #5DB7DE;
    --color-marron-100: #A39B8B;
    --color-marron-200: #716A5C;
    }

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    outline: none;
}

/*Clase solo para los lectores de pantalla */
.sr-only { 
    position: absolute; /* remueve el elemento del flujo normal del html*/
    left: -4000px;
}

body {
background-color: var(--color-negro);
color: var(--color-base);
font-family: 'Montserrat', sans-serif;
text-align: center;
}

form {
    width: 450px;
    margin: 0 auto;

}

input, select, textarea {
    display: block;
    width: 450px;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid var(--color-marron-100);
}

textarea {
    height: 150px;
}

label {
    display: block;
    margin: 30px 10px;
}

input:focus,
select:focus,
textarea:focus {
    border-bottom: 3px solid var(--color-acento);
}